.lista-filmes {
    margin: 15px;

    article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        margin: 15px;
        padding: 15px;
        border-radius: 8px;

        a {
            text-decoration: none;
            color: #fff;
            background-color: #9F2B68;
            font-size: 1.5rem;
            width: 100%;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    strong {
        padding-bottom: 10px;
        font-size: 1.5rem;
    }

    img {
        display: flex;
        width: 100%;
        
    }
}

.details-title {
    font-weight: 600;
    font-size: 2rem;
    margin-top: 2rem;
}

.load-info {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.container-content {
    display: flex;
    flex-direction: column;
    width: 100%;

    img {
        border-radius: 10px;
    }

    .buttons {
        display: flex;
        
    }

    .button-back {
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
    }

    button {
        margin-right: 5px;
        margin-top: 10px;
        cursor: pointer;
        border-radius: 3px;
        border: 0;
        font-size: 1.25rem;
        outline: none;
        padding: 10px;
        transition: all .3s;
        background-color: #301934;
        color: #fff;

        &:hover {
            background-color: #9F2B68;
            color: #fff;
        }
    }

    a {
        text-decoration: none;
        color: #fff;  
    }
}